


.box-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Opponent side styling */
#opponent-side {
    display: flex;
    position: relative;
    height: 17vh;
    background-color: #FFE3E8; /* Light Pink */
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px;
}

.opponent-hand {
    display: flex;
    justify-content: center;
    flex: 4;
    width: fit-content;
    margin: auto;
    background-color: #FFD1E0; 
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}

/* .oCardNode {
    background-image: url("../image/icons/back.png");
    display: inline-block;
    width: 64px;
    height: 90px;
    border-radius: 4px;
    padding: 5px;
    margin: auto 10px;
    background-size: contain;
    background-repeat: no-repeat;
} */


.toggle-action, .toggle-chat, .basic-action {
    font-family: 'ChakraPetch';
    box-shadow: 2px 4px 10px rgba(31, 31, 25, 0.9);
    border-radius: 5px;
    font-size: large;
    padding: 5px 20px;
    background-color: #FFD1E0; 
    color: rgba(24, 24, 17, 0.9);
    position: absolute;
    text-align: center;
    margin: auto;
    cursor: pointer;
    width: 150px;
    left: 1%; 
}


.toggle-chat {
    margin-top: 350px;

    top: 40%; 
}

.toggle-action {
    top: 50%; 
    margin-top: 350px;
}

.basic-action {
    top: 60%; 
    margin-top: 350px;
}


.basic-action::before, .toggle-chat::before, .toggle-action::before {
    content: "🎀"; 
    margin-right: 10px;
}
.chat-container {
    position: absolute;
    top: 18%;
    left: 0; 
    transition: left 0.5s; 
    width: 700px; 
}